@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @* By adding Context="authContext", we resolve the name collision. *@
                    <AuthorizeView Context="authContext">
                        <NotAuthorized>
                            @* User is not authenticated at all *@
                            <RedirectToLogin />
                        </NotAuthorized>
                        <Authorized>
                            @* User is authenticated, but not authorized for this specific resource *@
                            <p>You are not authorized to access this resource.</p>
                        </Authorized>
                    </AuthorizeView>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>